* {
  font-family:  'Island Moments' , cursive;
  color: rgb(149, 61, 54);
}

h1 {
  display: flex;
  margin: auto;
  margin-top: 53px;
  text-align: top;
  font-size: 45px;
}

body {
  background-color: rgb(143, 143, 68);
  display: auto;
  margin: auto;
  text-align: left;
  font-size: 45px;
}